

#img1
{
	
	width : 5%;
	padding : 2%;
	
}

#img1b
{
	
	text-align : center ;
	
}

#img2
{
	width : 60%;
	border: 1px #aacfd0 outset;
	box-shadow: 20px 20px 6px #aacfd0;
	margin : 20px;
	
}

#img2b
{
	
	text-align : center ;
	

	
}